<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout-no-pad">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/fonts/farmer/style.css"/>
</head>
<body>
<div data-layout-fragment="main">
    <div id="memberApp"></div>

    <script data-th-if="${development}" type="text/javascript" src="http://localhost:3000/bundle.js"></script>
    <script data-th-if="!${development}" type="text/javascript" src="/built/bundle.js"></script>

</div>
</body>
</html>