@font-face {
    font-family: 'supermarketregular';
    src: url('fonts/supermarket.ttf') format('truetype'),
    url('fonts/supermarket.woff2') format('woff2'),
    url('fonts/supermarket.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.row {
    margin-left: 0rem;
    margin-right: 0rem;
}

.form-horizontal .form-actions .row {
    margin-left: 0rem;
    margin-right: 0rem;
}

#map-dashboard{
    display: block;
    border: none;
    height: calc(100vh - 30px);
    width: 100%;
}
.content {
    min-height: 100%;
    padding: 20px 20px 42px !important;
    /*background-color: #eee;*/
    background: #ebecef;
}
.font-supermarket{
    font-family: supermarketregular !important;
}
.font-small{
    font-size: 0.7em;
}

.font-medium{
    font-size: 0.8em;
}
.font-big-xs{
    font-size: 1.2rem;
}
.font-big{
    font-size: 1.5em;
}
.font-bold{
    font-weight: bold;
}

.font-xs-small{
    font-size: 0.6em;
}
.color-green{
    color: #8CA93A !important;
}
.color-grey{
    color: #ABABAB !important;
}
.color-warning{
    color: #f0b518 !important;
}
.float-right{
    float: right;
}
.widget-label{
    display: inherit;
    text-align: center;
    font-weight: bold;
}
.red{
    color: #ff4c4c;
}
.input-group-addon .glyphicon-remove{
    color: #ff4c4c;
}
.input-group-addon .glyphicon-ok{
    color: #48a746;
}
.color-dark{
    color: #979797;
}
.panel-heading-white{
    background: #FFF !important;
}
.panel-heading-drak{
    background: #7A7E87 !important;
    color: #FFF !important;
}

.form-control {
    font-size: 13px;
    height: 100%;
    /*border-radius: 0;*/
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s;
}
.input-group-addon {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #e9e9e9;
    border-radius: 0.2rem;
}
.select2-container .select2-choice{
    border: 1px solid #e9e9e9;
}
#farmPanel p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#farmPanel .panel{
    background: #FFF;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

#farmPanel .panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

#farmPanel .panel-group .panel-heading .collapsed, #farmPanel .panel-group .panel-heading .collapsed i {
    opacity: 1;
}
#farmPanel .panel-group .panel-heading .fa-user {
    color: #37455C !important;
}

#farmPanel .panel-group .panel-heading .collapsed .fa-user {
    color: #8CA93A !important;
}

#farmPanel .fieldbox{
    height: 15px;
    width: 35%;
    background: #DCC13E;
    margin-top: 3px;
}

.padding-left-right-20{
    padding-left: 20px;
    padding-right: 20px;
}
.padding-all-10-5{
    padding: 10px 5px;
}

.label-image {
     background-color:#8CA93A !important;
    color: #FFF !important;
    text-transform: uppercase;
    font-weight: normal !important;
}
.label-nobackground{
    background: none !important;
    color: #ABABAB !important;
    font-weight: normal !important;
}

.nav-tabs {
    border-bottom: none;
    background-color: #ddd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.nav-tabs>li>a:hover {
    background-color: transparent;
    color: #555;
}

.nav-tabs>li {
    float: left;
    margin-bottom: 0px;
}

.nav>li, .nav>li>a {
    position: relative;
    display: block;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    box-shadow: 1px 1px 2px #ccc;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav>li>a {
    padding: 10px 15px;
}
.nav-tabs>li>a {
    padding: 12px 18px;
    border: none;
    color: #999;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.tab-content>.tab-pane {
    padding: 0.5rem;
}


.widget-custom-padding{
    margin-bottom: 0px;
    padding: 15px 0px;
}

.section-title {
    background: #eee;
    padding: 2px 10px;
    margin: 20px 0px;
    border: none;
}

.text-center{
    text-align: center !important;
}

.text-right{
    text-align: right !important;
}


.breadcrumb {
    color: #999;
    margin-bottom: 0.25rem;
}

.btn-action{
    display: inline;
    padding: 5px;
}
.table th, .table td {
    padding: 0.55rem;
    font-size: 0.9em;
}

.percent-quality{
    width: 100%;
    height: 12px;
    border: 1px solid #E0E5EE;
    margin: 5px 0px;
    border-radius: 10px;
}

.percent-quality-inside{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.percent-quality-desc{
    margin-top: -5px;
    padding: 0px 5px;
    float: right;
    font-size: 0.65rem;
}
.widget-custom-margin-bottom{
    margin-bottom: 1em !important;
}
.widget-icon-percent{
    margin-left: -0.5rem;
    margin-right: 0.5rem;
    padding: 0;
}

select{
    height: 32px !important;
}

label{
    line-height: 1.2;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f9f9f9;
    opacity: 1;
}

.box-icon{
    padding: 30px 10px;
    height: 100px;
    background: #f7f7f7;
}

.background-white{
    background: #ffffff !important;
}
.color-white{
    color: #FFF;
    text-shadow: 2px 2px 6px #000;
}

.color-darkred{
    color: #D94A4A !important;
}

.font-icon-box{
    font-size: 2.2em;
    color: #0074d9;
}

.radio,
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; }
.radio label,
.checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer; }

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 5px \9; }

.radio + .radio,
.checkbox + .checkbox {
    margin-top: -5px; }

.radio-inline,
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer; }

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px; }

input[type="radio"][disabled], input[type="radio"].disabled,
fieldset[disabled] input[type="radio"],
input[type="checkbox"][disabled],
input[type="checkbox"].disabled,
fieldset[disabled]
input[type="checkbox"] {
    cursor: not-allowed; }

.radio-inline.disabled,
fieldset[disabled] .radio-inline,
.checkbox-inline.disabled,
fieldset[disabled]
.checkbox-inline {
    cursor: not-allowed; }

.radio.disabled label,
fieldset[disabled] .radio label,
.checkbox.disabled label,
fieldset[disabled]
.checkbox label {
    cursor: not-allowed; }


.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before,
.checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "ï€Œ";
    margin-top: 1px;
}
.checkbox input[type="checkbox"]:disabled + label,
.checkbox input[type="radio"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before,
.checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #5d8fc2;
    border-color: #5d8fc2; }

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff; }
.nav-tabs{
    cursor: pointer;
}
.tab-style-custom .nav-tabs>li>a {
    padding: 8px 18px;
}
.tab-style-custom .tab-header{
    background: #ffffff;
    border-bottom: 2px solid #d8dde6;
    margin-top: 5px;
}
.tab-style-custom .nav-tabs{
    background: #ffffff;
}
.tab-style-custom .nav-tabs>li.active>a, .tab-style-custom .nav-tabs>li.active>a:focus, .tab-style-custom .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fff;
    border:none;
    border-bottom: 2px solid #0070d2;
    margin-bottom: -2px;
    cursor: pointer;
    box-shadow: none;
    border-radius: 0px;
}

.tab-profile .tab-header {
    border-bottom: 2px solid #FFF;
}

.tab-style-custom .tab-content{
    background: none;
    /*padding-top: 20px;*/
}

.tab-style-custom .tab-pane{
    background: #ebecef;
    padding: 20px 0px;
}

.tab-style-custom .tab-pane.background-white{
    padding: 20px 10px;
}

.tab-profile .tab-header {
    margin-top: -1px;
}

.tab-profile .tab-pane.background-white{
    background: #ebecef;
    padding: 20px;
}

.margin-bottom-none{
    margin-bottom: 0px !important;
}

.box-icon-widget .progress{
    height: 10px;
    margin-bottom: 10px;
}

.box-icon-widget .stat-item{
    border-left: 0px !important;
    padding-right: 0px !important;

}

.box-icon-widget .stat-item+.stat-item {
    padding-left: 5px;
}

.box-icon-widget .stats-row {
    margin-bottom: 5px;
}

.box-icon-widget .item-col-icon {
    width: 15%;
}

.box-icon-widget .item-col-block{
    width: 83%;
}

.text-element{
    line-height: 1.25;
}
.element-label{
    color: #999;
    font-size: 0.8em;
}

.element-value{
    color: #555;
    margin: 5px 0px;
    font-weight: bold;
    font-size: 0.9em;
}

.box-icon-widget .font-icon-box{
    font-size: 3em;
}

.box-icon-member .box-icon-widget .font-icon-box{
    font-size: 2.5em;
}
.font-size-big{
    font-size: 1.5em;
}

.no-border{
    border: 0px !important;
}

.no-margin{
    margin: 0px !important;
}

.margin-bottom-20{
    margin-bottom: 20px !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}

.cover{
    background-size: 100% !important;
    background-position: center !important;
    height: 240px !important;
}

.cover-footer{
    background: #ffffff;
    width: 100%;
    height: 40px;
}

.cover-small{
    background-size: 100% 100% !important;
    background-position: center !important;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    color: #FFF;
}

.cover-small a{
    color: #FFF !important;
}

/*----------- status ----------*/
.badge {
    text-shadow: none;
    font-weight: normal !important;
    background-color: #e0e5ee !important;
    text-transform: uppercase;
    border-radius: 0.5rem;
    color: #16325c!important;
    width: 100% !important;
    text-align: center;
}

.badge-success {
    background-color:#41c8a0 !important;
    color: #06662F !important;
}

.badge-danger{
    background: #F9B9B9 !important;
    color: #B42D2D !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.navbar-form {
    padding: 0px !important;
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
    }
}
.nav-static .mainnav-profile {
    width: 100% !important;
}
.nav-static .mainnav-profile .mnp{
    display: block !important;
}

.nav-collapsed .mainnav-profile {
    width: 50px;
    text-overflow: ellipsis;
}
.nav-collapsed .mainnav-profile .mnp{
    display: none;
}
/*---------- Button -----------*/
.btn-primary:hover {
    color: #fff;
    background-color: #025aa5 !important;
    border-color: #01549b !important;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8 !important;
    border-color: #0275d8 !important;
}

.login-background {
    height: 100vh !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
}

.pad-login{
    padding: 80px 40px 30px !important;
}

.font-kanit{
    font-family: 'Kanit', sans-serif !important;
}
.text-dark{
    color: #34495E !important;
}

.margin-top--big{
    margin-top: 40px !important;
}

.text-logo{
    font-size: 1.5em;
    font-weight: normal !important;
    color: #16325C;
}

.float-right{
    float:right;
}
.float-left{
    float:left;
}

.login-page .form-control-feedback{
    top: 20px;
}

.login-des-font-small{
    font-size: 1em;
}

.font-size-14{
    font-size: 14px !important;
}

.pad-top-15 {
    padding-top: 10px;
}

/*-------- Button --------*/
.btn-full-width{
    width: 100% !important;
}

.margin-bottom-xs{
    margin-bottom: 0.5em !important;
}
.margin-bottom-s{
    margin-bottom: 1em !important;
}
.color-primary{
    color: #025aa5 !important;
}

.btn-default-blue {
    color: #4372a5 !important;
    background-color: #f5faff;
    border: none!important;
}

.btn-default-blue:hover {
    color: #4372a5 !important;
    background-color: rgba(185, 181, 190, 0.62);
    border: none!important;
}

.text-desc{
    font-size: 12px;
    margin-bottom: 5px;
}

.button-search{
    margin-top: 23px;
    padding: 2.5px 12px;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #2aabd2;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}

/* Form */
.select2-container .select2-choice {
    height: 3.25rem;
    line-height: 1.5;
}