@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ioi990');
  src:  url('fonts/icomoon.eot?ioi990#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ioi990') format('truetype'),
    url('fonts/icomoon.woff?ioi990') format('woff'),
    url('fonts/icomoon.svg?ioi990#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-soilPH:before {
  content: "\e91b";
}
.icon-waterpercent:before {
  content: "\e91c";
}
.icon-cereal:before {
  content: "\e91d";
}
.icon-percentage:before {
  content: "\e91e";
}
.icon-leaves-(2):before {
  content: "\e91f";
}
.icon-tree-silhouette:before {
  content: "\e920";
}
.icon-o2-symbol-in-a-cloud:before {
  content: "\e921";
}
.icon-humidity:before {
  content: "\e922";
}
.icon-thermometer:before {
  content: "\e923";
}
.icon-sprout:before {
  content: "\e91a";
}
.icon-waterdrop:before {
  content: "\e928";
}
.icon-pig:before {
  content: "\e929";
}
.icon-grass:before {
  content: "\e92a";
}
.icon-shovel-tool:before {
  content: "\e92b";
}
.icon-corn-1:before {
  content: "\e90d";
}
.icon-tomato:before {
  content: "\e90e";
}
.icon-tree:before {
  content: "\e90f";
}
.icon-ecology:before {
  content: "\e910";
}
.icon-leaf-2:before {
  content: "\e911";
}
.icon-plug-1:before {
  content: "\e912";
}
.icon-recycle:before {
  content: "\e913";
}
.icon-water:before {
  content: "\e914";
}
.icon-cloud-and-rain:before {
  content: "\e915";
}
.icon-rain:before {
  content: "\e916";
}
.icon-shovel:before {
  content: "\e917";
}
.icon-scarecrow:before {
  content: "\e918";
}
.icon-sunflower:before {
  content: "\e919";
}
.icon-fields:before {
  content: "\e900";
}
.icon-watering-can:before {
  content: "\e901";
}
.icon-tractor:before {
  content: "\e902";
}
.icon-barn2:before {
  content: "\e903";
}
.icon-rake:before {
  content: "\e904";
}
.icon-apples:before {
  content: "\e905";
}
.icon-wheat-1:before {
  content: "\e906";
}
.icon-corn3:before {
  content: "\e907";
}
.icon-chicken:before {
  content: "\e908";
}
.icon-germination:before {
  content: "\e909";
}
.icon-carrot2:before {
  content: "\e90a";
}
.icon-windmill:before {
  content: "\e90b";
}
.icon-wheat:before {
  content: "\e90c";
}
.icon-drop-silhouette:before {
  content: "\e9ee";
}
.icon-bio:before {
  content: "\e9ef";
}
.icon-co2-1:before {
  content: "\e9f0";
}
.icon-co2:before {
  content: "\e9f1";
}
.icon-eco:before {
  content: "\e9f2";
}
.icon-flower:before {
  content: "\e9f3";
}
.icon-global-warming:before {
  content: "\e9f4";
}
.icon-leaves-1:before {
  content: "\e9f5";
}
.icon-light-bulb:before {
  content: "\e9f6";
}
.icon-magnifying-glass:before {
  content: "\e9f7";
}
.icon-water-1:before {
  content: "\e9f8";
}
.icon-windmill3:before {
  content: "\e9f9";
}
