<!DOCTYPE html>
<html data-layout-decorator="layout">
<head>
    <title>ITOK - Member List</title>
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
    <style>
        #chart_01 g text, #chart_02 g text, #chart_03 g text,
        #chart_04 g text, #chart_05 g text, #chart_06 g text{
            font-size: 14px !important;
            font-weight: bold !important;
            left: 20px !important;
        }
        #chart_01 g g text, #chart_02 g g text, #chart_03 g g text,
        #chart_04 g g text, #chart_05 g g text, #chart_06 g g text{
            font-size: 12px !important;
            font-weight: normal !important;
        }
    </style>
</head>
<body>
<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
    <main id="content" class="content" role="main" data-layout-fragment="main" style="padding: 10px;">
        <div class="row">
            <div class="col-md-12 font-supermarket">
                <h2>กราฟสรุปข้อมูลสมาชิก</h2>
            </div>
        </div>
        <div class="row margin-bottom-s">
            <div class="col-md-6">
                <div id="chart_01"></div>
            </div>
            <div class="col-md-6">
                <div id="chart_02"></div>
            </div>
        </div>
        <div class="row margin-bottom-s">
            <div class="col-md-6">
                <div id="chart_03" style="width: 100%;"></div>
            </div>
            <div class="col-md-6">
                <div id="chart_04"></div>
            </div>
        </div>
        <div class="row margin-bottom-s">
            <div class="col-md-6">
                <div id="chart_05" style="width: 100%;"></div>
            </div>
        </div>
    </main>
</div>


<!-- page specific js -->
<div data-layout-fragment="script">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawStacked);

        function drawStacked() {
            var data = google.visualization.arrayToDataTable([
                ['ช่วงอายุ', 'เพศชาย', 'เพศหญิง', { role: 'annotation' } ],
                ['ต่ำกว่า 20', 15, 11 , ''],
                ['20-29', 16, 22 , ''],
                ['30-39', 28, 9 , ''],
                ['40-49', 16, 14, ''],
                ['50-59', 12, 6, ''],
                ['60 ขึ้นไป', 8, 10, '']
            ]);

            var options = {
                title: 'จำนวนสมาชิกเครือข่าย แยกตามช่วงอายุ',
//                chartArea: {width: '50%'},
                height: 400,
                isStacked: true,
                colors: ['#0598d8', '#f97263'],
                legend : {
                    position: 'center',
                    maxLines: 3,
                }

            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_03'));

            chart.draw(data, options);
        }

//        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawColumn01);

        function drawColumn01() {
            var data = google.visualization.arrayToDataTable([
                ['ปี', 'จำนวน', { role: 'style' }, { role: 'annotation' } ],
                ['2555', 35, '#0598d8', '35' ],
                ['2556', 65, '#f97263', '65' ],
                ['2557', 68, '#FFE659', '68' ],
                ['2558', 78, '#0DDB8F', '78' ],
                ['2559', 102, '#9C6ADD', '102' ]
            ]);

            var options = {
                title: 'จำนวนสมาชิกเครือข่าย ย้อนหลัง 5 ปี',
//                chartArea: {width: '50%'},
                height: 400,
                colors: ['#0598d8', '#f97263'],
                legend : {
                    position: 'center',
                    maxLines: 3,
                }

            };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_02'));

            chart.draw(data, options);
        }

//        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawColumn05);

        function drawColumn05() {
            var data = google.visualization.arrayToDataTable([
                ['อาชีพ', 'จำนวน', { role: 'style' }, { role: 'annotation' } ],
                ['ธุรกิจส่วนตัว', 35, '#0598d8', '35' ],
                ['รับราชการ', 65, '#0598d8', '65' ],
                ['อิสระ', 45, '#0598d8', '45' ],
                ['พนักงานเอกชน', 78, '#0598d8', '78' ],
                ['เกษตรกร', 102, '#0598d8', '102' ]
            ]);

            var options = {
                title: 'จำนวนสมาชิกเครือข่ายสูงสุด 5 อันดับแรก แยกตามอาชีพหลัก',
                height: 400,
//                chartArea: {width: '50%'},
                colors: ['#0598d8', '#f97263'],
                hAxis: {
                    title: 'จำนวน',
                    minValue: 0
                },
                vAxis: {
                    title: 'อาชีพ'
                }

            };
            var chart = new google.visualization.BarChart(document.getElementById('chart_05'));

            chart.draw(data, options);
        }

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart01);

        function drawChart01() {

            var data = google.visualization.arrayToDataTable([
                ['เพศ', 'จำนวน'],
                ['เพศชาย',     11],
                ['เพศหญิง',      2],
            ]);

            var options = {
                title: 'จำนวนสมาชิกเครือข่าย แยกตามเพศ',
                colors: ['#0598d8', '#f97263'],
                height: 400,
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_01'));

            chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawChart02);

        function drawChart02() {

            var data = google.visualization.arrayToDataTable([
                ['รูปแบบเครือข่าย', 'จำนวน'],
                ['ศูนย์เรียนรู้',     34],
                ['บุคคล',      62],
                ['วัด',      12],
                ['ชุมชน',     10],
                ['โรงเรียน',      2],
                ['สหกรณ์',      8],
                ['กลุ่ม',      20],
            ]);

            var options = {
                title: 'จำนวนสมาชิกเครือข่าย แยกตามรูปแบบเครือข่าย',
                colors: ['#0598d8', '#f97263', '#FFE659', '#0DDB8F', '#9C6ADD', '#E88E27'],
                height: 400,
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_04'));

            chart.draw(data, options);
        }
    </script>
</div>
</body>
</html>