<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-layout-fragment="main">
    <div class="row" >
        <div class="col-md-12 text-right">
            <a data-th-href="@{/page/dashboard-member}" class="btn btn-primary">
                <i class="fa fa-user"></i> สรุปข้อมูลสมาชิก
            </a>
            <a data-th-href="@{/page/dashboard-land}" class="btn btn-primary">
                <i class="icon-barn2"></i> สรุปข้อมูลแปลงที่ดิน
            </a>
            <a class="btn btn-primary" data-th-href="@{/page/dashboard-memberList}">
                <i class="fa fa-address-book"></i> ดูรายการสมาชิก
            </a>
            <a class="btn btn-primary" data-th-href="@{/page/dashboard-landList}">
                <i class="icon-fields"></i> ดูรายการแปลงที่ดิน
            </a>
        </div>
    </div>
    <br/>
        <iframe src="https://itok.club/itok_map/MapDashboard.php"
                id="map-dashboard"></iframe>
</div>
<div data-layout-fragment="script"></div>
</body>
</html>