<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div data-layout-fragment="main">

    <ol class="breadcrumb">
        <li data-th-text="#{home}">Home</li>
        <li class="active" data-th-text="#{newLand}">Form Elements</li>
    </ol>
    <h1 class="page-title"><span data-th-text="#{new}">Form</span> - <span class="fw-semi-bold"
                                                                           data-th-text="#{land}">Inputs &amp; Controls</span>
    </h1>
    <div class="row">
        <form method="post" id="theform" data-th-object="${memberLand}">
            <div class="col-lg-8">
                <section class="widget">
                    <header>
                        <h6 data-th-text="#{personalDetail}">
                            รายละเอียด
                        </h6>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#"><i class="fa fa-refresh"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="form-horizontal" role="form" method="post">
                            <fieldset>
                                <input
                                        data-th-replace="fragments/Address :: address (#{address}, 'address')"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{lat}, 'lat', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{lng}, 'lng', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{basin}, 'basin', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{posessionType}, 'posessionType', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{posessionDocument}, 'posessionDocument', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{rai}, 'rai', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{gnan}, 'gnan', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{wah}, 'wah', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{intendedPurpose}, 'intendedPurpose', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{usage}, 'usage', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{characteristic}, 'characteristic', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{soilType}, 'soilType', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{problem}, 'problem', false)"/>

                            </fieldset>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-7">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                        <button type="button" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
        <div class="col-lg-4">
            <section class="widget">
                <header>
                    <h3>เอกสารประกอบที่ดิน</h3>
                </header>
                <div class="widget-body">
                    <form class="dropzone" action="#" id="my-awesome-dropzone">
                        <div class="dz-message">
                            <p class="mb-xs fw-normal">Drop files here or click to upload.</p>
                            <p class="text-muted">(This is just a demo dropzone. Selected files are <strong>not</strong>
                                actually uploaded.)</p>
                        </div>
                    </form>
                </div>
            </section>
            <section class="widget">
                <header>
                    <h3>ผลการตรวจสอบคุณภาพดิน</h3>
                </header>
                <div class="widget-body">
                    Body
                </div>
            </section>
            <section class="widget">
                <header>
                    <h3>ผลการตรวจสอบคุณภาพน้ำ</h3>
                </header>
                <div class="widget-body">
                    Body
                </div>
            </section>
            <section class="widget">
                <header>
                    <h3>ผลการตรวจสอบคุณภาพอากาศ</h3>
                </header>
                <div class="widget-body">
                    Body
                </div>
            </section>
        </div>

    </div>

</div>
<div data-layout-fragment="script">

    <script data-th-inline="javascript">
        /*<![CDATA[*/
        var id = /*[[${memberLand.id}]]*/ 0;
        /*]]>*/
    </script>
    <script src="/js/land.js"></script>
</div>
</body>
</html>