<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div data-layout-fragment="main">

    <ol class="breadcrumb">
        <li data-th-text="#{home}">Home</li>
        <li class="active" data-th-text="#{newLand}">Form Elements</li>
    </ol>
    <h1 class="page-title"><span data-th-text="#{new}">Form</span> - <span class="fw-semi-bold"
                                                                           data-th-text="#{land}">Inputs &amp; Controls</span>
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <section class="widget">
                <header>
                    <h6 data-th-text="#{personalDetail}">
                        รายละเอียด
                    </h6>
                    <div class="widget-controls">
                        <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="widget-body">
                    <div class="form-horizontal" role="form" method="post">
                        <iframe style="min-height: 500px; width:100%"
                                data-th-src="@{${mapUrl}(uid=${userId},landid=${landId},lat=${lat},lng=${lng})}"></iframe>


                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-7">
                                    <a href="#" data-th-href="@{/member/{id}(id=${userId})}" class="btn btn-primary"
                                       data-th-text="#{done}">Save Changes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>

</div>
<div data-layout-fragment="script">

</div>
</body>
</html>