<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>ITOK - Activity</title>
    <style>
    </style>
</head>
<body>
<div data-layout-fragment="main">
    <form method="post"  enctype="multipart/form-data" id="theform">
        <div class="row">
            <div class="col-md-6">
                <h1 class="page-title font-supermarket">
                    <span>A0001</span> -
                    <span class="fw-semi-bold">ปลูกสร้างบ้านดิน</span>
                </h1>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-inverse"
                        data-th-onclick="'window.location=\'' + @{/page/layout-activityList} + '\''">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i> กลับ
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <section class="widget">
                    <div class="widget-body clearfix">
                        <span class="">รหัสกิจกรรม</span><br/>
                        <span class="widget-label">A0001</span>
                    </div>
                </section>
                <section class="widget">
                    <div class="widget-body clearfix">
                        <span class="">จำนวนผู้เข้าร่วม</span><br/>
                        <span class="widget-label">25</span>
                    </div>
                </section>
                <section class="widget">
                    <div class="widget-body clearfix">
                        <div class="form-group">
                            <span>
                                เอกสารประกอบ
                            </span><br/>
                            <div class="form-group">
                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                    <div class="form-control" data-trigger="fileinput">
                                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                        <span class="fileinput-filename"></span>
                                    </div>
                                    <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input id="fileupload1" type="file">
                                        </span>
                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists"
                                       data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="default-textarea">คำอธิบาย</label>
                                <textarea rows="4" class="form-control" id="default-textarea"></textarea>
                            </div>
                            <div class="form-actions" style="background: none;">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-primary">บันทึก</button>
                                        <button type="button" class="btn btn-inverse">ล้างข้อมูล</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="clearfix">
                            <ul id="tabs1" class="nav nav-tabs pull-left">
                                <li class="active">
                                    <a data-target="#tab1" data-toggle="tab" aria-expanded="true">ข้อมูลกิจกรรม</a>
                                </li>
                                <li class=""><a data-target="#tab2" data-toggle="tab" aria-expanded="false">ข้อมูลผู้เข้าร่วมกิจกรรม</a>
                                </li>
                            </ul>
                        </div>
                        <div id="tabs1c" class="tab-content mb-lg">
                            <div class="tab-pane clearfix active" id="tab1">
                                <div class="col-lg-12">
                                    <section class="widget widget-custom-padding">
                                        <div class="widget-body">
                                            <div class="form-horizontal" role="form" method="post">
                                                <fieldset>
                                                    <legend class="section-title"><strong >ข้อมูลกิจกรรม</strong> </legend>
                                                </fieldset>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 form-control-label text-md-right">
                                                                <span>ชื่อกิจกรรม</span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <span>ปลูกสร้างบ้านดิน</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 form-control-label text-md-right">
                                                                <span>ประเภทกิจกรรม</span>
                                                                &nbsp;<span class="red" >*</span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <span>เอามือสามัคคี</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 form-control-label text-md-right">
                                                                <span>พื้นที่ทำกิจกรรม</span>
                                                                &nbsp;<span class="red" >*</span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <span>กลุ่มพื้นที่ใกล้เคียง</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-2 form-control-label text-md-right">
                                                                <span>รายละเอียดกิจกรรม</span>
                                                            </label>
                                                            <div class="col-md-10" style="padding-right: 40px;">
                                                                <span>
                                                                    งานนี้ได้ร่วมกัน พลิกฟื้นผืนป่า ช่วยกันดูแลสัตว์ป่า ให้มี อาหาร ทำให้สัตว์ป่า ปลอดภัยในพื้นที่ เขตป่าอนุรักษ์ และนอกจากนี้ยังได้พักผ่อนท่ามกลางธรรมชาติ ที่ยังบริสุทธิ์
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <fieldset>
                                                    <legend class="section-title"><strong >ข้อมูลการจัดกิจกรรม</strong> </legend>
                                                </fieldset>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 form-control-label text-md-right">
                                                                <span>สถานที่ทำกิจกรรม</span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <span>บ้านแพ้ว</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 form-control-label text-md-right">
                                                                <span>วันที่เริ่ม</span>
                                                            </label>
                                                            <div class="col-md-7">
                                                               <span>10/12/2560</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="col-md-4 form-control-label text-md-right">
                                                                <span>วันที่สิ้นสุด</span>
                                                            </label>
                                                            <div class="col-md-7">
                                                                <span>15/12/2560</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="col-lg-12">
                                    <section class="widget widget-custom-padding">
                                        <div class="widget-body">
                                            <div class="row margin-bottom-xs">
                                                <div class="col-md-6">
                                                    <div>
                                                        <p class="text-desc">ชื่อสมาชิก</p>
                                                        <input type="text" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-success btn-full-width button-search">
                                                        <i class="fa fa-plus"></i> เพิ่มสมาชิก</button>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="row">
                                                <fieldset>
                                                    <legend class="section-title"><strong >ผู้เข้าร่วมกิจกรรม</strong> (2) </legend>
                                                </fieldset>
                                                <table class="table table-striped text-center background-white">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center"></th>
                                                        <th class="text-center">ชื่อผู้เข้าร่วม</th>
                                                        <th class="text-center">เบอร์โทรศัพท์</th>
                                                        <th class="text-center">จังหวัด</th>
                                                        <th class="text-center"> </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="color-dark-blue font-icon-box" >
                                                                <span class="fa fa-user"></span>
                                                            </div>
                                                        </td>
                                                        <td><span>สมชาย สวัสดี</span></td>
                                                        <td><span>086-432-4561</span></td>
                                                        <td><span>นนทบุรี</span></td>
                                                        <td>
                                                            <a  class="btn btn-danger">
                                                                <i class="fa fa-trash"></i> ลบข้อมูล
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="color-dark-blue font-icon-box" >
                                                                <span class="fa fa-user"></span>
                                                            </div>
                                                        </td>
                                                        <td><span>นฤมล คงสวัสดิ์</span></td>
                                                        <td><span>086-432-1234</span></td>
                                                        <td><span>นครราชสีมา</span></td>
                                                        <td>
                                                            <a  class="btn btn-danger">
                                                                <i class="fa fa-trash"></i> ลบข้อมูล
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<div data-layout-fragment="script">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker-thai-thai/js/bootstrap-datepicker.js"></script>
    <!-- thai extension -->
    <script type="text/javascript" src="/js/bootstrap-datepicker-thai-thai/js/bootstrap-datepicker-thai.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-datepicker-thai-thai/js/locales/bootstrap-datepicker.th.js"></script>

</div>
</body>
</html>