<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-layout-fragment="main">
    <div class="row" >
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary"><i class="fa fa-user"></i> กราฟสรุปข้อมูลสมาชิก</button>
            <button type="button" class="btn btn-primary"><i class="icon-barn2"></i> กราฟสรุปข้อมูลแปลงที่ดิน</button>
            <a class="btn btn-primary" data-th-href="@{/member}">
                <i class="fa fa-address-book"></i> ดูรายการสมาชิก
            </a>
            <a class="btn btn-primary" data-th-href="@{/page/layout-landList}">
                <i class="icon-fields"></i> ดูรายการแปลงที่ดิน
            </a>
        </div>
    </div>
    <br/>
    <iframe src="http://35.198.237.232/itok_map/MapDashboard.php"
            id="map-dashboard"></iframe>
</div>
<div data-layout-fragment="script"></div>
</body>
</html>