<!DOCTYPE html>
<html data-layout-decorator="layout">
<head>
    <title>ITOK-Member List</title>
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
</head>
<body>
<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
    <main id="content" class="content" role="main" data-layout-fragment="main" style="padding: 10px;">
        <div class="row">
            <div class="col-md-12 font-supermarket">
                <h2>ค้นหาข้อมูลสมาชิก</h2>
            </div>
        </div>
        <div class="row margin-bottom-xs">
            <div class="col-md-3">
                <div>
                    <p class="text-desc">ชื่อสมาชิก</p>
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <p class="text-desc">เบอร์โทรศัพท์</p>
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <p class="text-desc">จังหวัด</p>
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary btn-full-width button-search">
                    <i class="fa fa-search"></i> ค้นหา
                </button>
            </div>
            <div class="col-md-2 ">
                <p class=" text-right">
                    <!--<a data-th-href="@{/member/new}" class="btn btn-success btn-full-width button-search" >-->
                    <!--<i class="fa fa-plus"></i> สร้างเครือข่ายใหม่-->
                    <!--</a>-->
                </p>
            </div>
        </div>
        <div class="row" id="farmPanel">
            <div class="col-md-12">
                <div class="panel-group mb-lg" id="accordion" data-toggle="collapse" data-th-remove="all-but-first">
                    <div class="panel panel-default" data-th-each="l : ${list}" data-th-object="${l}">
                        <div class="panel-heading panel-heading-white collapsed">
                            <h5 class="panel-title">
                                <div class="row">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseOne"
                                       data-th-href="'#collapse' + ${lStat.index}">

                                        <div class="col-sm-1 text-center ">
                                            <!--<i class="fa fa-user"-->
                                               <!--aria-hidden="true" style="font-size:2.5em;"-->
                                               <!--data-th-if="${l.image == null}"></i>-->
                                            <!--<img data-th-src="${l.image.imageUrl} + '=s50-c'"-->
                                                 <!--data-th-if="${l.image} != null"-->
                                                 <!--class=" img-circle">-->
                                            <span class="icon-farmer"  style="font-size:2.5em; color: #63a93f;"></span>
                                        </div>
                                        <div class="col-sm-2">
                                            <p class="color-green"><strong
                                                    data-th-text="*{firstName} + ' ' + *{lastName}">กนก</strong></p>
                                            <p class="font-medium color-dark">ชื่อเล่น</p>
                                            <!--<p class="font-xs-small color-grey"-->
                                            <!--data-th-text="${#lists.size(#object.memberLands)} + ' Farms'">2 Farms</p>-->
                                        </div>
                                        <div class="col-sm-2 text-center">
                                             <span class="badge badge-green" style="width: 100px !important; color: #FFF !important;">สมาชิก</span>
                                             <!--<span class="badge badge-warning" style="width: 100px !important; color: #FFF !important;">ยังไม่เป็นสมาชิก</span>-->
                                             <p class="font-medium color-dark ">บุคคล</p>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-sm-2 text-center">
                                                    <span class="font-icon-box">
                                                        <i class="fa fa-mobile " aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="text-element">
                                                        <span class="element-label font-small">เบอร์โทรศัพท์</span>
                                                        <p class="element-value font-medium">08754323421</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="row">
                                                <div class="col-sm-2 text-center">
                                                    <span class="font-icon-box font-size-big">
                                                        <i class="fa fa-home " aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                                <div class="col-sm-10">
                                                    <div class="text-element">
                                                        <span class="element-label font-small">ที่อยู่</span>
                                                        <p class="element-value font-medium">102 หมู่ 1 ต.หนองสาหร่าย อ.ปากช่อง
                                                            จ.นครราชสีมา 30130</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<p  class="font-medium color-dark line-height-small">672 หมู่ 11 บ้านดอนชัย ตำบลคลองน้ำไหล อำเภอคลองสาย จังหวัดกำแพงเพชร 62000</p>-->
                                        </div>
                                    </a>
                                    <div class="col-sm-2 text-right">
                                        <button class=" btn btn-primary btn-sm"
                                                data-th-onclick="'window.location=\'' + @{/member/{id}(id=${l.id})} + '\''">
                                            <i class="fa fa-user" style="color: #FFF !important;"></i> ดูข้อมูลสมาชิก
                                        </button>
                                        <!--<a class="btn btn-primary btn-full-width"  data-th-onclick="'window.location=\'' + @{/member/{id}(id=${l.id})} + '\''">-->
                                        <!--<i class="fa fa-user"></i>-->
                                        <!--ดูข้อมูลสมาชิก-->
                                        <!--</a>-->
                                        <!--</a>-->
                                    </div>
                                </div>
                            </h5>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" data-th-id="'collapse' + ${lStat.index}">
                            <table class="table table-striped text-center"
                                   style="width: 97%;margin: 20px auto;border: 1px solid #ddd;">
                                <thead>
                                <tr>

                                    <th class="text-center"></th>
                                    <th class="text-center">ชื่อแปลงที่ดิน</th>
                                    <th class="text-center">ชื่อสมาชิก</th>
                                    <th class="text-center">ขนาด (ไร่. วา. ตร.วา.)</th>
                                    <th class="text-center">จังหวัด</th>
                                    <th class="text-center">ลุ่มน้ำ</th>
                                    <th class="text-center"></th>

                                </tr>
                                </thead>
                                <tbody data-th-remove="all-but-first" data-th-each="k : *{memberLandsTemp}">
                                <tr>
                                    <td>
                                        <div class="color-dark-blue font-icon-box">
                                            <span class="icon-fields"></span>
                                        </div>
                                    </td>
                                    <td><span><strong data-th-text="${k.name}">เขาสวนกวาง</strong></span></td>
                                    <td><span data-th-text="*{firstName} + ' ' + *{lastName}">สมชาย ใจดี</span></td>
                                    <td><span data-th-text="${k.getSize()}">21.8 ac - Potato</span></td>
                                    <td><strong data-th-text="${k.address.province}">สวนกวาง</strong></td>
                                    <td><span>ลุ่มน้ำมูล</span></td>
                                    <td>
                                        <button class=" btn btn-danger btn-sm"
                                                data-th-onclick="'window.location=\'' + @{/page/member-land-view} + '\''">

                                                <!--data-th-onclick="'window.location=\'' + @{/land/{id}(id=${k.id})} + '\''">-->
                                            <i class="icon-barn2"></i> ดูข้อมูลแปลงที่ดิน
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12 text-center" data-th-replace="fragments/Paging :: paging(${page}, ${totalPages})">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">12</a></li>
                    <li><a href="#">ต่อไป &gt;</a></li>
                </ul>
            </div>
        </div>

        <!-- The Loader. Is shown when pjax happens -->
        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin-fast"></i>
        </div>
    </main>
</div>


<!-- page specific js -->
<div data-layout-fragment="script">

    <script src="/webjars/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>
    <!--<script data-gcs-src="" src="js/form-elements.js"></script>-->
    <script src="/js/layout-Lek.js"></script>
</div>
</body>
</html>