<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>เพิ่มแปลงที่ดินใหม่</title>
</head>
<body>
<div data-layout-fragment="main">
    <form method="post"  enctype="multipart/form-data" id="theform">
        <div class="row">
            <div class="col-md-6">
                <h1 class="page-title font-supermarket">
                    <span>เพิ่ม</span> -
                    <span class="fw-semi-bold">แปลงที่ดิน</span>
                </h1>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-primary"
                        data-th-onclick="'window.location=\'' + @{/page/layout-land} + '\''">
                    <i class="fa fa-check" aria-hidden="true"></i> บันทึก
                </button>
                <button type="button" class="btn btn-inverse"
                        data-th-onclick="'window.location=\'' + @{/page/layout-landList} + '\''">
                    <i class="fa fa-times" aria-hidden="true"></i> ยกเลิก
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <section class="widget">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-md-6">
                                <span class="">หมายเลขสมาชิก</span>
                            </div>
                            <div class="col-md-6">
                                <span class="widget-label">X00000001</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <span class="">ชื่อ</span>
                            </div>
                            <div class="col-md-4">
                                <span class="widget-label">สมชาย</span>
                            </div>
                            <div class="col-md-3">
                                <span class="">นามสกุล</span>
                            </div>
                            <div class="col-md-4">
                                <span class="widget-label">ใจดี</span>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-md-12">
                                <span>ขนาดพื้นที่รวม</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <b>XXX</b> ไร่
                            </div>
                            <div class="col-md-4 text-center">
                                <b>XXX</b> งาน
                            </div>
                            <div class="col-md-4 text-center">
                                <b>XXX</b> ตร.ว.
                            </div>
                        </div>
                    </div>
                </section>
                <section class="widget">
                    <div class="widget-body clearfix">
                        <div class="form-group">
                            <span>
                                รูปขอบเขตแปลงที่ดิน
                            </span><br/>
                            <div class="fileinput fileinput-new" data-provides="fileinput" style="width: 100%; margin-bottom: 0px;">
                                <div class="fileinput-new thumbnail" style="width: 100%; height: 150px;">
                                    <img data-src="holder.js/100%x100%" alt="..." src="">
                                </div>
                                <br/>
                                <div>
                                    <button type="button" class="btn btn-primary"><i class="fa fa-pencil"></i> วาดขอบเขตแปลงที่ดิน</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="clearfix">
                            <ul id="tabs1" class="nav nav-tabs pull-left">
                                <li class="active">
                                    <a data-target="#tab1" data-toggle="tab" aria-expanded="true">ข้อมูลแปลงที่ดิน</a>
                                </li>
                                <li class=""><a data-target="#tab2" data-toggle="tab" aria-expanded="false">ข้อมูลเอกสารสิทธิ์ที่ดิน</a>
                                </li>
                            </ul>
                        </div>
                        <div id="tabs1c" class="tab-content mb-lg">
                            <div class="tab-pane clearfix active" id="tab1">
                                <div class="section">
                                    <div class="section-title" data-toggle="collapse" data-target="#section1">
                                        <a>
                                            <i class="section-icon glyphicon glyphicon-chevron-down" aria-hidden="true"></i> รายละเอียดแปลงที่ดิน
                                        </a>
                                    </div>
                                    <div id="section1" class="collapse in">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label text-md-right">
                                                        <span>ชื่อแปลงที่ดิน</span>
                                                        &nbsp;<span class="red" >*</span>
                                                    </label>
                                                    <div class="col-md-7">
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-xs-3 form-control-label text-md-right">
                                                        <span>ขนาดพื้นที่รวม</span>
                                                    </label>
                                                    <div class="col-xs-2">
                                                        <input type="number" class="form-control"/>
                                                    </div>
                                                    <label class="col-xs-1 form-control-label text-md-left">
                                                        <span>ไร่</span>
                                                    </label>
                                                    <div class="col-xs-2">
                                                        <input type="number" class="form-control"/>
                                                    </div>
                                                    <label class="col-xs-1 form-control-label text-md-left">
                                                        <span>งาน</span>
                                                    </label>
                                                    <div class="col-xs-2">
                                                        <input type="number" class="form-control"/>
                                                    </div>
                                                    <label class="col-xs-1 form-control-label text-md-left">
                                                        <span>ตร.ว.</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label text-md-right">
                                                        <span>ประเภทดิน</span>
                                                    </label>
                                                    <div class="col-md-7">
                                                        <select class="form-control">
                                                            <option>ดินเหนียว</option>
                                                            <option>ดินร่วน</option>
                                                            <option>ดินร่วนปนทราย</option>
                                                            <option>ดินทราย</option>
                                                            <option>ดินลูกรัง</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--<input data-th-replace="fragments/SelectField :: select (#{soilType}, 'soilType', ${soilTypes}, false)"/>-->
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label text-md-right">
                                                        <span>ลักษณะที่ดิน</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <select class="form-control">
                                                            <option>ที่ราบลุ่ม</option>
                                                            <option>ที่ราบลุ่มน้ำท่วมขัง</option>
                                                            <option>ที่ลุ่ม</option>
                                                            <option>ที่ดอน</option>
                                                            <option>ที่เนิน</option>
                                                            <option>หนอง</option>
                                                            <option>บึง</option>
                                                            <option>ห้วย</option>
                                                            <option>คลอง</option>
                                                            <option>แม่น้ำ</option>
                                                            <option>ชายฝั่งทะเล</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--<input data-th-replace="fragments/SelectField :: select (#{characteristic}, 'characteristic', ${landTypes}, false)"/>-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label text-md-right">
                                                        <span>ปัญหาในพื้นที่</span>
                                                    </label>
                                                    <div class="col-md-7">
                                                        <select class="form-control">
                                                            <option>น้ำแล้ง</option>
                                                            <option>น้ำท่วมถึง</option>
                                                            <option>ดินเปรี้ยว</option>
                                                            <option>ดินเค็ม</option>
                                                            <option>ดินลูกรัง</option>
                                                            <option>ดินไม่อุ้มน้ำ</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--<input data-th-replace="fragments/SelectField :: select (#{problem}, 'problem', ${problems}, false)"/>-->
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-md-3 form-control-label text-md-right">
                                                        <span>ต้องการให้พื้นที่เป็น</span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <!--<input data-th-replace="fragments/TextField :: input (#{intendedPurpose}, 'intendedPurpose', false)"/>-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group row">
                                                    <label class="col-md-2 form-control-label text-md-right">
                                                        <span>แนวทางการใช้ประโยชน์ของที่ดิน</span>
                                                    </label>
                                                    <div class="col-md-10">
                                                        <textarea class="form-control" rows="3" style="width: 95%;"></textarea>
                                                    </div>
                                                </div>
                                                <!--<input data-th-replace="fragments/TextField :: input (#{usage}, 'usage', false)"/>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-title" data-toggle="collapse" data-target="#section2">
                                        <a>
                                            <i class="section-icon glyphicon glyphicon-chevron-down" aria-hidden="true"></i> ที่ตั้งแปลงที่ดิน
                                        </a>
                                    </div>
                                    <div id="section2" class="collapse in">
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <p>
                                                    <a href="#"  data-th-text="#{copyAddress}" class="btn btn-success"></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-6 ">
                                                                <div class="form-group row">
                                                                    <label class="col-md-4 form-control-label text-md-right">
                                                                        <span>เลขที่</span>
                                                                    </label>
                                                                    <div class="col-md-7">
                                                                        <input class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                                <!--<input data-th-replace="fragments/TextField :: input (#{number}, 'address.number', false)">-->
                                                            </div>
                                                            <div class="col-md-6 ">
                                                                <div class="form-group row">
                                                                    <label class="col-md-4 form-control-label text-md-right">
                                                                        <span>หมู่ที่</span>
                                                                    </label>
                                                                    <div class="col-md-7">
                                                                        <input class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                                <!--<input data-th-replace="fragments/TextField :: input (#{moo}, 'address.moo', false)">-->
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 ">
                                                                <div class="form-group row">
                                                                    <label class="col-md-4 form-control-label text-md-right">
                                                                        <span>ชื่อหมู่บ้าน/อาคาร/ชุมชน</span>
                                                                    </label>
                                                                    <div class="col-md-7">
                                                                        <input class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                                <!--<input data-th-replace="fragments/TextField :: input (#{village}, 'address.village', false)">-->
                                                            </div>
                                                            <div class="col-md-6 ">
                                                                <div class="form-group row">
                                                                    <label class="col-md-4 form-control-label text-md-right">
                                                                        <span>ตรอก/ซอย</span>
                                                                    </label>
                                                                    <div class="col-md-7">
                                                                        <input class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                                <!--<input data-th-replace="fragments/TextField :: input (#{alley}, 'address.alley', false)">-->
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 ">
                                                                <div class="form-group row">
                                                                    <label class="col-md-4 form-control-label text-md-right">
                                                                        <span>ถนน</span>
                                                                    </label>
                                                                    <div class="col-md-7">
                                                                        <input class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                                <!--<input data-th-replace="fragments/TextField :: input (#{road}, 'address.road', false)">-->
                                                            </div>
                                                            <div class="col-md-6 ">
                                                                <div class="form-group row">
                                                                    <label class="col-md-4 form-control-label text-md-right">
                                                                        <span>จังหวัด</span>
                                                                    </label>
                                                                    <div class="col-md-7">
                                                                        <input class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                                <!--<input data-th-replace="fragments/TextField :: input (#{province}, 'address.province', true)">-->
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 ">
                                                                <div class="form-group row">
                                                                    <label class="col-md-4 form-control-label text-md-right">
                                                                        <span>เขต/อำเภอ</span>
                                                                    </label>
                                                                    <div class="col-md-7">
                                                                        <input class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                                <!--<input data-th-replace="fragments/TextField :: input (#{district}, 'address.district', false)">-->
                                                            </div>
                                                            <div class="col-md-6 ">
                                                                <div class="form-group row">
                                                                    <label class="col-md-4 form-control-label text-md-right">
                                                                        <span>แขวง/ตำบล</span>
                                                                    </label>
                                                                    <div class="col-md-7">
                                                                        <input class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                                <!--<input data-th-replace="fragments/TextField :: input (#{subdistrict}, 'address.subdistrict', false)">-->
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group row">
                                                                    <label class="col-md-4 form-control-label text-md-right">
                                                                        <span>รหัสไปรษณีย์</span>
                                                                    </label>
                                                                    <div class="col-md-7">
                                                                        <input class="form-control" type="text" />
                                                                    </div>
                                                                </div>
                                                                <!--<input data-th-replace="fragments/TextField :: input (#{postalCode}, 'address.postalCode', false)">-->
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label text-md-right">
                                                        <span>ลุ่มน้ำ</span>
                                                    </label>
                                                    <div class="col-md-7">
                                                        <select class="form-control">
                                                            <option>ลุ่มน้ำปิง</option>
                                                            <option>ลุ่มน้ำวัง</option>
                                                            <option>ลุ่มน้ำยม</option>
                                                            <option>ลุ่มน้ำน่าน</option>
                                                            <option>ลุ่มน้ำเจ้าพระยา</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--<input data-th-replace="fragments/SelectField :: select (#{basin}, 'basin', ${basins}, false)"/>-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label text-md-right">
                                                        <span>ละติจูด</span>
                                                    </label>
                                                    <div class="col-md-7">
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <!--<input data-th-replace="fragments/TextField :: input (#{lat}, 'lat', false)"/>-->
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label text-md-right">
                                                        <span>ลองจิจูด</span>
                                                    </label>
                                                    <div class="col-md-7">
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <!--<input data-th-replace="fragments/TextField :: input (#{lng}, 'lng', false)"/>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="section-title" data-toggle="collapse" data-target="#section3">
                                        <a>
                                            <i class="section-icon glyphicon glyphicon-chevron-down" aria-hidden="true"></i> พิกัดกลางแปลงที่ดินบนแผนที่ และ วาดเส้นขอบเขตแปลงที่ดิน
                                        </a>
                                    </div>
                                    <div id="section3" class="collapse in">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label text-md-right">
                                                        <span>ค่าพิกัดที่ตั้งละติจูด</span>
                                                    </label>
                                                    <div class="col-md-7">
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <!--<input data-th-replace="fragments/TextField :: input (#{lat}, 'lat', false)"/>-->
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label class="col-md-4 form-control-label text-md-right">
                                                        <span>ค่าพิกัดที่ตั้งลองจิจูด</span>
                                                    </label>
                                                    <div class="col-md-7">
                                                        <input class="form-control" type="text" />
                                                    </div>
                                                </div>
                                                <!--<input data-th-replace="fragments/TextField :: input (#{lng}, 'lng', false)"/>-->
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="map-draw text-center" style="width: 100%">
                                                    Place Map Here
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-md-12 text-right">
                                        <button id="buttonAddDocument" type="button" class="btn btn-success" style="padding: 2px 12px;">
                                            <i class="fa fa-plus" aria-hidden="true"></i> เพิ่มเอกสารสิทธิ์
                                        </button>
                                    </div>
                                </div>
                                <div id="document01">
                                    <div class="section" >
                                        <div class="section-title" data-toggle="collapse" data-target="#section4">
                                            <a>
                                                <i class="section-icon glyphicon glyphicon-chevron-down" aria-hidden="true"></i> รายละเอียดเอกสารสิทธิ์ - 1
                                            </a>
                                        </div>
                                        <div id="section4" class="collapse in">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label text-md-right">
                                                            <span>ชื่อเจ้าของกรรมสิทธิ์</span>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label text-md-right">
                                                            <span>ประเภทการถือครอง</span>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <select class="form-control">
                                                                <option>เจ้าของที่ดิน</option>
                                                                <option>ครัวเรือน</option>
                                                                <option>เช่า</option>
                                                                <option>อื่นๆ</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label text-md-right">
                                                            <span>ประเภทเอกสารสิทธิ์</span>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <select class="form-control">
                                                                <option>โฉนดที่ดิน</option>
                                                                <option>นส. 3ก</option>
                                                                <option>สปก. 4-01</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label text-md-right">
                                                            <span>เลขที่เอกสารสิทธิ์</span>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label text-md-right">
                                                            <span>ระวาง</span>
                                                        </label>
                                                        <div class="col-md-7">
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label text-md-right">
                                                            <span>เลขที่ดิน</span>
                                                        </label>
                                                        <div class="col-md-2">
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                        <label class="col-md-3 form-control-label text-md-right">
                                                            <span>หน้าสำรวจ</span>
                                                        </label>
                                                        <div class="col-md-2">
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label text-md-right">
                                                            <span>เล่ม</span>
                                                        </label>
                                                        <div class="col-md-2">
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                        <label class="col-md-3 form-control-label text-md-right">
                                                            <span>หน้า</span>
                                                        </label>
                                                        <div class="col-md-2">
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label text-md-right">
                                                            <span>จำนวนเนื้อที่</span>
                                                        </label>
                                                        <div class="col-md-2">
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                        <label class="col-md-1 form-control-label text-left">
                                                            <span>ไร่</span>
                                                        </label>
                                                        <div class="col-md-2">
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                        <label class="col-md-1 form-control-label text-left">
                                                            <span>งาน</span>
                                                        </label>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label text-left">
                                                            <span>&nbsp;</span>
                                                        </label>
                                                        <div class="col-md-2">
                                                            <input class="form-control" type="text" />
                                                        </div>
                                                        <label class="col-md-1 form-control-label text-left">
                                                            <span>ตร.ว.</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <span>
                                                            รูปเอกสารสิทธิ์ประกอบ
                                                        </span><br/><br/>
                                                        <div class="fileinput fileinput-new" data-provides="fileinput"
                                                             style="width: 100%; margin-bottom: 0px;">
                                                            <div class="fileinput-new thumbnail" style="width: 100%; height: 150px;">
                                                                <!--<img data-th-if="*{image} == null" data-src="holder.js/100%x100%" alt="..." src="">-->
                                                                <!--<img data-th-if="*{image} != null" data-th-src="*{image.imageUrl}"-->
                                                                <!--class="img-responsive">-->
                                                            </div>

                                                            <div class="fileinput-preview fileinput-exists thumbnail"
                                                                 style="max-width: 100%; max-height: 150px;"></div>
                                                            <br/>
                                                            <div>
                                                                <span class="btn btn-default btn-file">
                                                                    <i class="fa fa-image" aria-hidden="true"></i>
                                                                    <span class="fileinput-new"> เลือกรูปภาพ</span>
                                                                    <span class="fileinput-exists"> เปลี่ยนรูปภาพ</span>
                                                                    <input type="file" name="file[]">
                                                                </span>
                                                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">
                                                                    <i class="fa fa-trash" aria-hidden="true"></i> ลบรูปภาพ</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="placeNew">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div data-layout-fragment="script">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datepicker-thai-thai/js/bootstrap-datepicker.js"></script>
    <!-- thai extension -->
    <script type="text/javascript" src="/js/bootstrap-datepicker-thai-thai/js/bootstrap-datepicker-thai.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-datepicker-thai-thai/js/locales/bootstrap-datepicker.th.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $("#buttonAddDocument").click(function(){
                $("#document01").clone().appendTo("#placeNew");
            });

        });
    </script>
</div>
</body>
</html>