<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>สร้างเครือข่ายใหม่</title>
    <link rel="stylesheet" href="/js/bootstrap-datepicker-thai-thai/css/datepicker.css">
</head>
<body>
<div data-layout-fragment="main">
    <ol class="breadcrumb">
        <li data-th-text="#{home}">Home</li>
        <li class="active" data-th-text="#{newMember}">Form Elements</li>
    </ol>
    <h1 class="page-title"><span data-th-text="#{new}">Form</span> - <span class="fw-semi-bold"
                                                                           data-th-text="#{member}">Inputs &amp; Controls</span>
    </h1>
    <a href="#" data-th-href="@{/member/{id}/newLand(id=${member.id})}" data-th-if="${member.id} != null"
       class="btn btn-primary"
       data-th-text="#{newLand}"></a>
    <form method="post" data-th-object="${member}" enctype="multipart/form-data" id="theform">
        <div class="row">
            <div class="col-lg-12">
                <section class="widget">
                    <header>
                        <h6 data-th-text="#{personalDetail}">
                            รายละเอียด
                        </h6>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#"><i class="fa fa-refresh"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="form-horizontal" role="form" method="post">
                            <fieldset>
                                <legend><strong data-th-text="#{member}">Horizontal</strong> <span
                                        data-th-text="#{personalDetail}"></span></legend>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{memberId}, 'memberId', false)"/>

                                <input
                                        data-th-replace="fragments/SelectField :: select (#{title}, 'title', ${titles}, false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{firstName}, 'firstName', true)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{lastName}, 'lastName', true)"/>
                                <input
                                        data-th-replace="fragments/DateSelect :: dateSelect (#{birthday}, 'birthday', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{citizenId}, 'citizenId', false)"/>

                                <input
                                        data-th-replace="fragments/SelectField :: select (#{maritalStatus}, 'maritalStatus', ${maritalStatus}, false)"/>
                                <input
                                        data-th-replace="fragments/SelectField :: select (#{educationDegree}, 'educationDegree', ${educationDegree}, false)"/>
                                <input
                                        data-th-replace="fragments/Address :: address (#{address}, 'address')"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{mobile}, 'mobile', true)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{email}, 'email', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{facebook}, 'facebook', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{line}, 'line', false)"/>
                                <input
                                        data-th-replace="fragments/SelectField :: select (#{status}, 'status', ${status}, false)"/>
                                <input data-th-if="*{id} != null"
                                       data-th-replace="fragments/FileField :: file (#{image}, 'file[]', false)"/>
                                <div data-th-if="*{image} != null">
                                    <img data-th-src="*{image.imageUrl}" class="img-responsive">
                                </div>
                            </fieldset>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-7">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                        <button type="button" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="widget">
                    <header>
                        <h6 data-th-text="#{memberDetail}">
                            รายละเอียด
                        </h6>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#"><i class="fa fa-refresh"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="form-horizontal" role="form" method="post">
                            <fieldset>
                                <legend><strong data-th-text="#{member}">Horizontal</strong> <span
                                        data-th-text="#{memberDetail}"></span></legend>
                                <input type="hidden" data-th-field="*{membershipTemp.id}">
                                <input
                                        data-th-replace="fragments/TextField :: input (#{membershipId}, 'membershipTemp.membershipId', false)"/>
                                <input
                                        data-th-replace="fragments/SelectField :: select (#{yearJoin}, 'membershipTemp.yearJoin', ${yearJoin}, false)"/>

                                <input
                                        data-th-replace="fragments/CheckboxField :: checkbox (#{delegateMember}, 'membershipTemp.villageDelegate', false)"/>
                                <input
                                        data-th-replace="fragments/SelectField :: select (#{membershipType}, 'membershipTemp.type', ${memberTypes}, false)"/>
                                <input
                                        data-th-replace="fragments/SelectField :: select (#{previousJob}, 'membershipTemp.previousJob', ${jobTypes}, false)"/>
                                <input
                                        data-th-replace="fragments/SelectField :: select (#{mainJob}, 'membershipTemp.mainJob', ${jobTypes}, false)"/>
                                <input
                                        data-th-replace="fragments/SelectField :: select (#{secondJob}, 'membershipTemp.secondJob', ${jobTypes}, false)"/>

                                <input
                                        data-th-replace="fragments/SelectField :: select (#{typeOrganization}, 'membershipTemp.typeOrganization', ${organizationTypes}, false)"/>

                                <input
                                        data-th-replace="fragments/TextField :: input (#{agricultureSpecialty}, 'membershipTemp.agricultureSpecialty', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{agricultureInterest}, 'membershipTemp.agricultureInterest', false)"/>
                                <input
                                        data-th-replace="fragments/TextField :: input (#{associate}, 'membershipTemp.associate', false)"/>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-4 col-md-7">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                        <button type="button" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </form>

</div>

<div data-layout-fragment="script">
    <script type="text/javascript" src="/js/bootstrap-datepicker-thai-thai/js/bootstrap-datepicker.js"></script>
    <!-- thai extension -->
    <script type="text/javascript" src="/js/bootstrap-datepicker-thai-thai/js/bootstrap-datepicker-thai.js"></script>
    <script type="text/javascript"
            src="/js/bootstrap-datepicker-thai-thai/js/locales/bootstrap-datepicker.th.js"></script>
    <script data-th-inline="javascript">
        /*<![CDATA[*/
        $(function () {
            function pageLoad() {
                var id = /*[[${member.id}]]*/null;
                $(".select2").each(function () {
                    $(this).select2($(this).data());
                });
                $('.datepicker').datepicker({language: 'th-th', format: 'dd/mm/yyyy'})
                var getAction = function () {
                    $.ajax({
                        url: '/member/' + id + '/action',
                        success: function (data) {
                            $('#theform').attr('action', data)
                        }
                    })
                };
                getAction();
                setInterval(getAction, 5 * 60 * 1000);

            }

            pageLoad();
            SingApp.onPageLoad(pageLoad);
        });
        /*]]>*/
    </script>
</div>
</body>
</html>