<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>สร้างเครือข่ายใหม่</title>
</head>
<body>
<div data-layout-fragment="main">
    <ol class="breadcrumb">
        <li data-th-text="#{home}">Home</li>
        <li class="active" data-th-text="#{newMember}">Form Elements</li>
    </ol>
    <h1 class="page-title"><span data-th-text="#{new}">Form</span> - <span class="fw-semi-bold"
                                                                           data-th-text="#{member}">Inputs &amp; Controls</span>
    </h1>
    <div class="row">
        <div class="col-lg-6">
            <section class="widget">
                <header>
                    <h6 data-th-text="#{detail}">
                        รายละเอียด
                    </h6>
                    <div class="widget-controls">
                        <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </header>
                <div class="widget-body">
                    <form class="form-horizontal" role="form" data-th-object="${member}" method="post">
                        <fieldset>
                            <legend><strong data-th-text="#{member}">Horizontal</strong> <span
                                    data-th-text="#{detail}"></span></legend>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{memberId}, 'memberId', false)"/>

                            <input
                                    data-th-replace="fragments/TextField :: input (#{title}, 'title', false)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{firstName}, 'firstName', true)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{lastName}, 'lastName', true)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{birthday}, 'birthday', false)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{citizenId}, 'citizenId', false)"/>

                            <input
                                    data-th-replace="fragments/TextField :: input (#{maritalStatus}, 'maritalStatus', false)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{educationDegree}, 'educationDegree', false)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{address}, 'address', false)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{mobile}, 'mobile', true)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{email}, 'email', false)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{facebook}, 'facebook', false)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{line}, 'line', false)"/>
                            <input
                                    data-th-replace="fragments/TextField :: input (#{status}, 'status', false)"/>

                        </fieldset>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-4 col-md-7">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                    <button type="button" class="btn btn-inverse">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>

    </div>
</div>
</body>
</html>