@font-face {
  font-family: 'farm';
  src:  url('fonts/farm.eot?lsy55f');
  src:  url('fonts/farm.eot?lsy55f#iefix') format('embedded-opentype'),
    url('fonts/farm.ttf?lsy55f') format('truetype'),
    url('fonts/farm.woff?lsy55f') format('woff'),
    url('fonts/farm.svg?lsy55f#farm') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="farmer-"], [class*=" farmer-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'farm' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.farmer-farm:before {
  content: "\e900";
}
.farmer-farmer:before {
  content: "\e901";
}
